/* Global Styles */

:root {
    --primary-color: #007bff;
    --secondary-color: #333;
    --hover-color: #ff4757;
    --button-hover-bgcolor: #ca3b47;
    --accent-color: #ff6b6b;
    --background-color: #f4f4f4;
    --text-color: #333;
    --light-text-color: #fff;
}

/* Reset and Base Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', 'SegoePro-Regular', 'Manrope-Regular', Verdana, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    background-color: var(--background-color);
    color: var(--text-color);
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--primary-color);
    font-weight: bold;
    margin-bottom: 10px;
}

p {
    font-size: 1rem;
    margin-bottom: 15px;
}

/* Links */
a {
    color: var(--primary-color);
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: var(--accent-color);
    text-decoration: underline;
}

/* Header Styles */
header {
    background: var(--secondary-color);
    color: var(--light-text-color);
    padding: 10px 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: var(--light-text-color);
    text-decoration: none;
    font-size: 17px;
    transition: color 0.3s ease-in-out;
}

nav ul li a:hover {
    color: #ccc;
    transition: 2ms ease-in-out;
    font-size: 18px;
}

/* Hero Section */
.hero {
    background: url('./images/hero-image.jpg') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: var(--light-text-color);
    text-align: center;
}

/* Overlay to improve text readability */
.hero .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.hero .container {
    position: relative;
    z-index: 2;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

.hero p {
    font-size: 20px;
    margin-bottom: 20px;
}

.btn {
    background: var(--accent-color);
    padding: 12px 24px;
    font-size: 18px;
    border-radius: 5px;
    text-decoration: none;
    border: none;
    color: var(--light-text-color);
    transition: background 0.3s ease-in-out;
}

.btn:hover {
    background: var(--button-hover-bgcolor);
    cursor: pointer;
}

/* Footer Styles */
footer {
    background: var(--secondary-color);
    color: var(--light-text-color);
    text-align: center;
    padding: 20px 0;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 10px 0 0;
    display: flex;
    justify-content: center;
}

footer ul li {
    margin: 0 10px;
}

footer ul li a {
    text-decoration: none;
    color: var(--accent-color);
}

footer ul li a:hover {
    color: var(--hover-color);
}